<div class="film-card">
  <div class="film-card__media">
    <div class="film-card__image">
      <img src="/images/money-heist.png" alt="Film card image" />
    </div>
    <button class="film-card__favorite-button" type="button">
      <img src="/icons/film-card/big_star_empty_icon.svg" alt="Add to favorites" />
    </button>
  </div>
  <p class="film-card__title">Money Heist : Part 5</p>
  <div class="film-card__rating">
    <img src="/icons/film-card/star_filled_icon.svg" alt="Rating star" />
    <img src="/icons/film-card/star_filled_icon.svg" alt="Rating star" />
    <img src="/icons/film-card/star_filled_icon.svg" alt="Rating star" />
    <img src="/icons/film-card/star_filled_icon.svg" alt="Rating star" />
    <img src="/icons/film-card/star_empty_icon.svg" alt="Rating star" />
  </div>
</div>
