<div class="form__control">
  <div class="form__icon"><img [src]="iconUrl" [alt]="type" /></div>
  <input
    class="form__input"
    [type]="type"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    (input)="onInputChange($any($event.target).value)"
  />
  @if (type === 'password' || type === 'text') {
    <button class="form__eye" (click)="onEyeClick()">
      <img
        [src]="isPasswordVisible ? '/icons/form/eye_opened.svg' : '/icons/form/eye_closed.svg'"
        [alt]="isPasswordVisible ? 'Open Eye' : 'Closed Eye'"
      />
    </button>
  }
</div>
